<!DOCTYPE html>
<html>
<head>
	<title>Assignment 27</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
	<form>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Home</a></li>
					<li> <a href="#">Contact</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</form><br><br>
	<form>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs ">
					<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
					<li> <a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
				</ul>
			</div>
		</div>
	</form><br><br>
	<form>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Home</a></li>
					<li> <a href="#">Contact</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</form><br><br>
	<form>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills">
					<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
					<li> <a href="#"><span class="glyphicon glyphicon-earphone"></span>>Contact</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
				</ul>
			</div>
		</div>
	</form><br><br>
	<form>
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
					<li> <a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
				</ul>
			</div>
		</div>
	</form>
</div>
</body>
</html>