<!DOCTYPE html>
<html>
<head>
	<title>Assignment 33</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				<h2> Dot Net Courses from Baabte System Technologies</h4>
				<hr>
				<h3> C# <span class="label label-primary"> Beginner</span></h3>
				<h3> ASP.NET <span class="label label-info"> Beginner</span></h3>
				<h3> ADO.NET<span class="label label-success"> Intermediate</span></h3>
				<h3> WCF <span class="label label-warning"> Advanced</span></h3>
				<h3> Bootstrap <span class="label label-danger"> Beginner</span></h3>
			</div>
		</div>
		<a href="#"> Inbox <span class="badge">10</span></a> <br>
		<a href="#">Sent <span class="badge">2</span></a> <br>
		<a href="#">Spam <span class="badge">10</span></a><br>
		<a href="#">Trash <span class="badge">5</span></a><br>
	</div>
</div>
</body>
</html>