<!DOCTYPE html>
<html>
<head>
	<title>Assignment 30</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<ul class="pager">
	<li><a href="#">&larr; Previous</a></li>
	<li><a href="#">Next &rarr;</a></li>
</ul>
<ul class="pager">
	<li class="previous"><a href="#">&larr; Previous</a></li>
	<li class="next"><a href="#">Next &rarr;</a></li>
	
</ul>
<ul class="pager">
	<li class="previous disabled"><a href="#">&larr; Previous</a></li>
	<li class="next"><a href="#">Next &rarr;</a></li>
</ul>
<ul class="pagination">
	<li><a href="#">&laquo</a></li>
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li class="active"><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">&raquo</a></li>
</ul>
</body>
</html>