<!DOCTYPE html>
<html>
<head>
	<title>Assignment 35</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<style type="text/css">
 		.jumbotron {
    background-color: #eee;
}
 	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1> Bootstrap tutorial</h1>
		<p>
			Bootstrap is a framework to help you design websites faster and easier. It includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels, etc. ... Here are some additional reasons to use Bootstrap: Bootstrap's responsive CSS adjusts to phones, tablets, and desktops.Bootstrap is a framework to help you design websites faster and easier.
		</p>
		<p><a href="https://www.google.com" class="btn btn-primary btn-lg">Get Started </a></p>
	</div>
	
</div>
</body>
</html>