<!DOCTYPE html>
<html>
<head>
	<title> Assignment 37</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
		$(document).ready(function(){
			$('#togglebutton').click(function(){
				$('#imagegallery').collapse('toggle');
			});
			$('#hidebutton').click(function(){
				$('#imagegallery').collapse('hide');
			});
			$('#showbutton').click(function(){
				$('#imagegallery').collapse('show ');
			});
			$('#imagegallery').on('show.bs.collapse',function(){
				alert('image gallery is about to be expanded');
			});
			$('#imagegallery').on('shown.bs.collapse',function(){
				alert('image gallery expanded');
			});
			$('#imagegallery').on('hide.bs.collapse',function(){
				alert('image gallery is about to be hidden');
			});
			$('#imagegallery').on('hidden.bs.collapse',function(){
				alert('image gallery hidden');
			});
		});
	</script> <!-- show is not working when collapse fn called -->
</head>
<body>
<!--<div class="container">
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#imagegallery" data-toggle="collapse" class="btn btn-primary"> Toggle image gallery</a>
		</div>
		<div class="panel-body collapse in" id="imagegallery">
			<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\bouque.jpg" class="thumbnail"> <p>Bouque</p>
			<img src="C:\Users\halaa\Pictures\Saved Pictures\bouque.jpg"></a>
		</div>
	<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\pinkflower.jpg" class="thumbnail"><p> Pink Flower </p>
				<img src="C:\Users\halaa\Pictures\Saved Pictures\pinkflower.jpg" >
			</a>
		
	</div>
<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\greenflower.jpg" class="thumbnail"><p> Green Flower </p>
				<img src="C:\Users\halaa\Pictures\Saved Pictures\greenflower.jpg" >
			</a>
		
	</div  >
		</div>
	</div>
	
</div>	
</div>-->
<div class="container">
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<button id="togglebutton" class="btn btn-primary"> Toggle image gallery</button>
			<button id="hidebutton" class="btn btn-primary"> Hide image gallery</button>
			<button id="showbutton" class="btn btn-primary"> Show image gallery</button>
		</div>
		<div class="panel-body collapse" id="imagegallery">
			<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\bouque.jpg" class="thumbnail"> <p>Bouque</p>
			<img src="C:\Users\halaa\Pictures\Saved Pictures\bouque.jpg"></a>
		</div>
	<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\pinkflower.jpg" class="thumbnail"><p> Pink Flower </p>
				<img src="C:\Users\halaa\Pictures\Saved Pictures\pinkflower.jpg" >
			</a>
		
	</div>
<div class="col-xs-4">
		<a href="C:\Users\halaa\Pictures\Saved Pictures\greenflower.jpg" class="thumbnail"><p> Green Flower </p>
				<img src="C:\Users\halaa\Pictures\Saved Pictures\greenflower.jpg" >
			</a>
		
	</div  >
		</div>
	</div>
	
</div>	
</div>
</body>
</html>