<!DOCTYPE html>
<html>
<head>
	<title>Assignment 29</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style type="text/css">
		.breadcrumb>li+li:before {
    content: "|";
}
.breadcrumb {
    background-color: yellow;
}
.breadcrumb>.active {
    color: red;
}
	</style>
</head>
<body>
<ol class="breadcrumb">
	<li> <a href="#"> Home </a></li>
	<li><a href="#"> Content </a></li>
	<li class="active"> About </li>
	<li><a href="#"> Products</a></li>
</ol> <br><br>

<ol class="breadcrumb">
	<li> <a href="#"> Home </a></li>
	<li><a href="#"> Content </a></li>
	<li class="active"> About </li>
	<li><a href="#"> Products</a></li>
</ol><br><br>

<ol class="breadcrumb">
	<li> <a href="#"> Home </a></li>
	<li><a href="#"> Content </a></li>
	<li class="active"> About </li>
	<li><a href="#"> Products</a></li>
</ol><br><br>
<ol class="breadcrumb">
	<li> <a href="#"> Home </a></li>
	<li><a href="#"> Content </a></li>
	<li class="active"> About </li>
	<li><a href="#"> Products</a></li>
</ol>
</body>
</html>