<!DOCTYPE html>
<html>
<head>
	<title>Assignment 13</title>
	<style type="text/css">
		a{
			font-weight: bold;
			font-size: 20px;
			text-decoration: none;
		}
		a:hover{
			color: blue;
			text-decoration: underline;
		}
		a:active{
			color: red;
			text-decoration: underline;
		}
		a:visited{
			color: purple;
			text-decoration: none;
		}
	</style>
</head>
<body>
<a href="https://baabtra.99lms.com/#/home">baabtra.com</a><br>
<a href="https://www.google.com/">google.com</a><br>
<a href="https://codakid.com/coding-for-kids-the-ultimate-guide-for-parents-2/">codingforkids.com</a><br>
<a href="http://www.baabte.com/">baabte.com</a><br>
</body>
</html>