<!DOCTYPE html>
<html>
<head>
	<title> Assignment 2</title>
	<style>
		p
		{
			color:white;
			font-size:20px;
			font-style: bold;
			font-family: verdana;
			background-color: #0000A0;
			border-style: groove;
			border-color: #c68642;
			border-width: 10px;
			margin:100px;
			padding:50px;
		}
	</style>
</head>
<body>
<p>
baabtra.com, the online web portal from baabte system technologies, wroks as a link in identifying, training and placing quality freshers from regional colleges and institues.
 </p>
</body>
</html>