<!DOCTYPE html>
<html>
<head>
	<title>Assignment 7</title>
</head>
<style type="text/css">
	#blue{
		background-color: #000080;
		color: white;
	}
	#yellow{
		background-color: #ffae42;
	}
	#green{
		background-color: #32CD32;
	}
</style>
<body>
<div id="blue">
	<h2>baabtra.com</h2>
<p id="text1">
	Baabtra is a platform to solve the resource problem of Software Companies which is connected to 100+ software training institutes, colleges and companies.
</p>
<input type="Button" value="More">
</div>
<hr>
<div id="yellow">
	<h2>CyberSquare</h2>
	<p id="text2">
		Cybersquare is an educational platform that offers K1 to K12 students to develop expertise in programming through visual coding and python programming language.
	</p>
	<input type="Button" value="More" id="yellow">
</div>
<hr>
<div id="green">
	<h2>Massbaab-Communication Becomes Business</h2>
	<p id="text3">
		Massbaab is a cloud based tool for the tracking,analysis and forecasting of individual and team sales pipeline and contacts
	</p>
	<input type="Button" value="More" id="green">
</div>
</body>
</html>