<!DOCTYPE html>
<html>
<head>
	<title> Assignment 6</title>
	<style type="text/css">
	div{
	height:950px;
	width: 100%;
	background-image:url(baabtra_bg.png);
	background-attachment: fixed;
}
</style>
</head>
<body>
<div>
	<p>Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	Massbaab is a cloud based tool for the tracking, analysis and forecasting of individual and team sales pipeline and contacts.</p>
	
</p>

</div>
</body>
</html>