<!DOCTYPE html>
<html>
<head>
	<title>Assignment 13</title>
</head>
<body>
<table border="1" cellspacing="0">
	<tr>
		<th colspan="6" align="left" bgcolor="#D3D3D3">Requester Information</th>
	</tr>
	<tr>
		<th align="right">Name</th>
		<td colspan="3">Baabtra Mentoring Partner</td>
		<td>Date</td>
		<td>9/9/2013</td>
	</tr>
	<tr>
		<th align="right">Department</th>
		<td colspan="5">Training</td>
	</tr>
	<tr>
		<th align="right">Email</th>
		<td colspan="2">info@baabtra.com</td>
		<td>Phone</td>
		<td colspan="2">04954025550</td>
	</tr>
	<tr>
		<th colspan="6" align="left" bgcolor="#D3D3D3">Supplier Information</th>
	</tr>
	<tr>
		<th align="right">Name</th>
		<td colspan="5">megatrade computers</td>
	</tr>
	<tr>
		<th align="right">Address 1</th>
		<td colspan="5">Palayam</td>
	</tr>
	<tr>
		<th align="right">Address 2</th>
		<td colspan="5"></td>
	</tr>
	<tr>
		<th align="right">City</th>
		<td>Kozhikode</td>
		<th align="right">State</th>
		<td>Kerala</td>
		<th>ZipCOde</th>
		<td>673001</td>
	</tr>
	<tr>
		<th align="right">Email</th>
		<td colspan="2">order@megatrade.com</td>
		<th align="right">Web</th>
		<td colspan="2">www.megatrade.com</td>
	</tr>
	<tr>
		<th align="right">Phone</th>
		<td colspan="2">0495 222222</td>
		<th align="right">Fax</th>
		<td colspan="2">0495 222222</td>
	</tr>
	<tr>
		<th colspan="6" align="left" bgcolor="#D3D3D3">Items</th>
	</tr>
	<tr>
		<th>Item</th>
		<th>Part Number</th>
		<th>Description</th>
		<th>Quantity</th>
		<th>Unit Cost</th>
		<th>Total</th>
	</tr>
	<tr>
		<td align="center">1</td>
		<td>197-540501</td>
		<td>Toner Cartridge for laserjet 4100 series 6000</td>
		<td>2</td>
		<td>29.95</td>
		<td>59.00</td>
	</tr>
	<tr>
		<td align="center">2</td>
		<td>555-013097</td>
		<td>Ink Cartridge color for Epson Stylus C62</td>
		<td>3</td>
		<td>27.00</td>
		<td>81.00</td>
	</tr>
	<tr>
		<td align="center">3</td>
		<td>333-0167213</td>
		<td>Parallel Printer Cable 10ft</td>
		<td>1</td>
		<td>6.00</td>
		<td>$6.00</td>
	</tr>
	<tr>
		<th colspan="5" align="right">Sub-total</th>
		<td>146.90</td>
	</tr>
	<tr>
		<th colspan="5" align="right">Tax</th>
		<td>10.28</td>
	</tr>
	<tr>
		<th colspan="5" align="right">Shipping</th>
		<td>15.80</td>
	</tr>
	<tr>
		<th colspan="5" align="center">Total</th>
		<td>172.98</td>
	</tr>
	<tr>
		<th colspan="6" align="left" bgcolor="#D3D3D3">Approval</th>
	</tr>
	<tr>
		<th align="right">Person</th>
		<td colspan="3">Shafeeque P</td>
		<th align="right">Date</th>
		<td>9/7/2013</td>
	</tr>
</table>
</body>
</html>