<!DOCTYPE html>
<html>
<head>
	<title>Assignment 9</title>
</head>
<body>
<h3><b><u><a id="top">Overview</a></u></b></h3>
<ul>
	<li><a href="#comp">Computer</a></li>
	<ul>
		<li><a href="#cpu">CPU</a></li>
		<li><a href="#alu">ALU</a></li>
	</ul>
	<li><a href="#pgm">Programming Languages</a></li>
	<ul>
		<li><a href="#c">C</a></li>
		<li><a href="#cc">C++</a></li>
	</ul>
	<li><a href="db">DBMS</a></li>
	<ul>
		<li><a href="#rd">RDBMS</a></li>
		<li><a href="#oo">OODBMS</a></li>
		<li><a href="#hd">HDBMS</a></li>
		<li><a href="#nw">NWDBMS</a></li>
	</ul>
</ul>

<h3><a id="comp">COMPUTER</a></h3>
<a href="#top">GO TO TOP<a>
<p>A computer is a programmable device that stores, retrieves, and processes data. The term "computer" was originally given to humans (human computers) who performed numerical calculations using mechanical calculators, such as the abacus and slide rule. </p>

<h4><a id="cpu">CPU</a></h4>
<p>CPU (pronounced as separate letters) is the abbreviation for central processing unit. Sometimes referred to simply as the central processor, but more commonly called a processor, the CPU is the brains of the computer where most calculations take place. In terms of computing power, the CPU is the most important element of a computer system.On large machines, the CPU requires one or more printed circuit boards. On personal computers and small workstations, it is housed in a single chip called a microprocessor. Since the 1970's the microprocessor class of CPUs has almost completely overtaken all other CPU implementations.</p>

<h4><a id="alu">ALU</a></h4>
<p>An arithmetic-logic unit (ALU) is the part of a computer processor (CPU) that carries out arithmetic and logic operations on the operands in computer instruction words. In some processors, the ALU is divided into two units, an arithmetic unit (AU) and a logic unit (LU). Some processors contain more than one AU - for example, one for fixed-point operations and another for floating-point operations. (In personal computers floating point operations are sometimes done by a floating point unit on a separate chip called a numeric coprocessor.)</p>

<h3><a id="pgm">Programming Language</a></h3>
<a href="#top">GO TO TOP</a>

<h4><a id="c">C</a></h4>
<p>C is a computer programming language. That means that you can use C to create lists of instructions for a computer to follow. C is one of thousands of programming languages currently in use. C has been around for several decades and has won widespread acceptance because it gives programmers maximum control and efficiency. </p>

<h4><a id="cc">C++</a></h4>
<p>C++ is a high-level programming language developed by Bjarne Stroustrup at Bell Labs. C++ adds object-oriented features to its predecessor, C. C++ is one of the most popular programming language for graphical applications, such as those that run in Windows and Macintosh environments.</p>

<h3><a id="db">DBMS</a></h3>
<a href="#top">GO TO TOP</a>

<h4><a id="rd">RDBMS</a></h4>
<p>RDBMS. Stands for "Relational Database Management System." An RDBMS is a DBMS designed specifically for relational databases. Therefore, RDBMSes are a subset of DBMSes. A relational database refers to a database that stores data in a structured format, using rows and columns</p>

<h4><a id="oo">OODBMS</a></h4>
<p>OODBMS stands for Object-Oriented Database Management System. An object-oriented database management system (also known simply as an object database ) is a DBMS where data is represented in the form of objects, as used in object-oriented programming</p>

<h4><a id="hd">HDBMS</a></h4>
<p>HDBMS Hierarchical Database Management System. A hierarchical database model is a data model in which the data is organized into a tree-like structure. The data is stored as records which are connected to one another through links. A record is a collection of fields, with each field containing only one value.</p>

<h4><a id="nw">NWDBMS</a></h4>
<p>Network database management systems (Network DBMSs) are based on a network data model that allows each record to have multiple parents and multiple child records. A network database allows flexible relationship model between entities.There are several types of database management systems such as relational, network, graph, and hierarchical. </p>

</body>
</html>