<!DOCTYPE html>
<html>
<head>
	<title> Assignment 4</title>
</head>
<body text="blue">
<h1 align="center"> <u>Programming language</u></h1>
<p> A programming language is a vocabulary and set of grammatical rules for instructing a computer or computing device to perform specific tasks. The term programming language usually refers to high-level languages, such as BASIC, C, C++, COBOL, Java, FORTRAN, Ada, and Pascal.</p>
<hr>
<h1 align="center"> <u> C++ </u></h1>
<p> C++ is a powerful general-purpose programming language. It can be used to develop operating systems, browsers, games, and so on. C++ supports different ways of programming like procedural, object-oriented, functional, and so on. This makes C++ powerful as well as flexible.</p>
<hr>
<h1 align="center"> <u> C </u></h1>
<p> C (/siː/, as in the letter c) is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, while a static type system prevents unintended operations.</p>
<hr>
<h1 align="center"><u> Java </u></h1>
<p> Java is a powerful general-purpose programming language. It is used to develop desktop and mobile applications, big data processing, embedded systems, and so on. According to Oracle, the company that owns Java, Java runs on 3 billion devices worldwide, which makes Java one of the most popular programming languages.</p>
<hr>
<h1 align="center"> <u> Environment </u></h1>
<p> Environment is a place where different things are such as a swampy or hot environment. It can be living (biotic) or non-living (abiotic) things. It includes physical, chemical and other natural forces. Living things live in their environment.</p>
<hr>
</body>
</html>