<!DOCTYPE html>
<html>
<head>
	<title>Assignment 14</title>
</head>
<body><br><br><br>
<a href="https://www.google.com/" target="viewer">Google</a><br><br><br>
<a href="https://www.facebook.com/" target="viewer">Facebook</a><br><br><br>
<a href="https://twitter.com/explore" target="viewer">Twitter</a><br><br><br>
<a href="https://www.microsoft.com/en-in/" target="viewer">Microsoft</a>
<center><iframe name="viewer" width="500" height="300"></iframe></center>
<!--refuse to connect-->
</body>
</html>