<!DOCTYPE html>
<html>
<head>
	<title>Assignment 15</title>
</head>
<body>
<form>
	<h4>Personal Details</h4>
	<label for="firstname">First Name:</label>
	<input type="text" name="firstname" id="firstname">
	<label for="lastname">Last Name:</label>
	<input type="text" name="lastname" id="lastname"><br>
	<label for="email">Email:</label>
	<input type="email" name="email" id="email">
	<label for="tnumber">Tel Number:</label>
	<input type="number" name="tnumber" id="tnumber"><br>
	<label for="mobnumber">Mobile Number:</label>
	<input type="number" name="mobnumber" id="mobnumber">
	<label for="city">City:</label>
	<input type="text" name="city" id="city"><br>
	<label for="state">State:</label>
	<input type="text" name="state" id="state">
	<label>Gender:</label>
	<input type="radio" name="male" value="male"> Male
	<input type="radio" name="female" value="female"> Female <br>
	<label for="dob"> Date of Birth</label>
	<select value="Day">		
		<option>1</option>
		<option>2</option>
	</select>

</form>
</body>
</html>