<!DOCTYPE html>
<html>
<head>
	<title>Assignment 11</title>
</head>
<body>
<script type="text/javascript">
		function degree(){
			alert("you are awesome")
		} 

		function message(msg1, msg2, msg3){
			 var ans = msg1 + msg2 + msg3;
			 alert(ans);
		}
		message("baabtra ", "mentoring ", "partner");

		

		function name(first, last, qual){
			document.write("Firstname: " +first+ "<br>" );
			document.write("Lastname: " +last+ "<br>" );
			document.write("Qualification: " +qual+ "<br>");
		}
name("Rahul", "Raj", "BTECH");


	</script>
</body>
</html>