<!DOCTYPE html>
<html>
<head>
	<title>Assignment 12</title>
</head>
<body>
<!--<h2>Global</h2>
<script type="text/javascript">
	var fruit = "apple ";
function name(){
document.write(fruit + "inside function" + "<br>");
}
name();
document.write(fruit + "outside function" + "<br>");
</script>-->

	<h2>Local</h2>
<script type="text/javascript">

function name(){
	var fruit = "apple ";
document.write(fruit + "inside function" + "<br>");
}
name();
document.write(fruit + "outside function" + "<br>");
</script>
</body>
</html>