<!DOCTYPE html>
<html>
<head>
	<title>Assignment 13</title>
</head>
<body>
<script type="text/javascript">
	document.write("Month of year");
	var month = new Array(11);
	month[0] = "january";
	month[1] = "february";
	month[2] = "march";
	month[3] = "april";
	month[4] = "may";
	month[5] = "june";
	month[6] = "july";
	month[7] = "august";
	month[8] = "september";
	month[9] = "october";
	month[10] = "november";
	month[11] = "december";
	document.write("First element of month : " + month[0] + "<br>");
	document.write("last element of month : " + month[11] + "<br>");

</script>
</body>
</html>