<!DOCTYPE html>
<html>
<head>
	<title>Assignment 14</title>
</head>
<body>
<script type="text/javascript">
	var marks = new Array(4);
	marks[0] = Number(prompt("enter maths mark"));
	marks[1] = Number(prompt("enter english mark"));
	marks[2] = Number(prompt("enter science mark"));
	marks[3] = Number(prompt("enter social mark"));
	marks[4] = Number(prompt("enter hindi mark"));
	var total = marks[0]+marks[1]+marks[2]+marks[3]+marks[4];
	alert("total marks of the student out of 500: " +total);
</script>
</body>
</html>