<!DOCTYPE html>
<html>
<head>
	<title> Assignment 19</title>
</head>
<body>
<script type="text/javascript">
	var day = prompt("enter a number");
	document.write("You entered " + day + "<br>");
	switch (day){
		case "1" :
		document.write("Day is monday");
		break;
		case "2" :
		document.write("Day is tuesday");
		break;
		case "3" :
		document.write("Day is wednesday");
		break;
		case "4" :
		document.write("Day is thursday");
		break;
		case "5" :
		document.write("Day is friday");
		break;
		case "6" :
		document.write("Day is saturday");
		break;
		case "7" :
		document.write("Day is sunday");
		break;
		default :
		document.write("wrong input");
	}
</script>
</body>
</html>