<!DOCTYPE html>
<html>
<head>
	<title>Assignment 7</title>
</head>
<body>
<script type="text/javascript">
	var int = 10;
	var float = 10.46;
	var string = "hello"
	document.write("Integer : " + int + " <br>");
	document.write("Float : " + float + "<br>" );
	document.write("String : " +string + "<br>");
	 var b = 15;
	var h = 4;
	var area = (1/2)*b*h;
	document.write("area of triangle : " +area + "<br>"); 
	 var s1 = "Hello";
	var s2 = " world!";
	var s3 = s1 + s2;
	document.write(s3 + "<br>"); 
	alert("Welcome to Javascript");
</script>
</body>
</html>