<!DOCTYPE html>
<html>
<head>
	<title>Media Objects</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
	.img{
		width: 50%;
	}
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img src="more.png" class="media-object" alt="heart">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Heart <small><i>< July 20,2016</i></small></h4>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div> 
			</div>
		</div>
	</div>
</div>
</body>
</html>